<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TOF</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <!-- Use a grid with two rows, one for the navbar, another one for the content -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar brand">
      <img src="static/images/opioids.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;The T.O.F. Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/manufacturer">Data per Manufacturer</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" >
    <div class="row align-items-center">
      <div class="col-xl-8 post p-sm-5">
        <svg id="choropleth-welcome">
        </svg>
      </div>
      <div class="col-xl-4 post p-sm-5">
        <h1 class="post-title">The Opioid Files</h1>
        <p></p>
        <p>
          On July 16th 2019, the Drug Enforcement Administration (DEA) released to the public a 
          database tracking the route of every single <i>legal pain pill</i> sold in the United 
          States from manufacturers to distributors to pharmacies in every town, and city after 
          a year-long legal battle waged by The Post and HD Media.
        </p>
        <p>
          Findings from The Washington Post after sifting through the 380 million records in this 
          database are staggering. Between 2006 and 2012, there were close to 100 billion opioid 
          pills shipped to pharmacies across the country where 75% of those were oxycodone and 
          hydrocodone. More than three quarters of those pills were manufactured and distributed 
          by a handful of companies who, according to The Post, disclosed significantly less 
          quantities in limited court filings and news stories.
        </p>
        <p>
          There is some evidence suggesting that the current opiod epidemic began with prescription 
          pills, fostering increased heroin use and resulting in the <a href="https://www.washingtonpost.com/graphics/2019/national/fentanyl-epidemic-trump-administration/?utm_term=.4a302ad5497e&tid=lk_inline_manual_22">current fentanyl crisis</a> 
          which added more than 67,000 deaths during the 2013 to 2017 period.
        </p>
        <p>
          This site is devoted to help you to explore the recently released DEA's database in more depth, 
          so you can assess the impact of opioids at national, regional, or county level. Hopefully, 
          this effort will help to raise awareness and drive action in the communities across the country 
          against a disease that has taken the lives of more than 100,000 americans in just seven years.
        </p>
      </div>
    </div>
  </div>

  <!-- needed for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- needed for the choropleth visualization -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://unpkg.com/topojson-client@3"></script>
  <script src="{{ url_for('static', filename='js/d3-tip.js')             }}"></script>
  <script src="{{ url_for('static', filename='js/d3-color-legend.js')    }}"></script>
  <script src="{{ url_for('static', filename='js/choropleth-welcome.js') }}"></script>

  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

</body>

</html>
