<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- boostrap, the sankey function, a one generation old version of D3... I don't want to attempt to rewrite the sankey funtion to work with the current D3! -->
        <!-- and the project team's css -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script type="text/javascript" src="static/js/sankey.js"></script>
    </head>
    <body>
        <!-- the navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="#" class="navbar brand">
                <img src="static/images/opioids.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;TOF Project Home Page</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/manufacturer">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sankey">Distribution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chartjs">Trends</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pharmacies
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <a class="dropdown-item" href="/heat">Heat Map</a>
                        <a class="dropdown-item" href="/marker">Marker Map</a>
                        <a class="dropdown-item" href="/cluster">Cluster Map</a>
                    </div>
                </li>
                </ul>
            </div>
        </nav>

        <!-- the Sankey diagram -->
        <div class="container-fluid">
            <div class="col-md-8 card">
                <div class="card-body">
                    <h3 class="card-title">Flow of Pills from Manufacturer, 2006-2012</h3>
                    <div id="diagram"></div>
                </div>
                <div class="card-body">
                    <!-- the dropdowns for state and county -->
                    <div class="row">
                        <div class="col-md-2">
                            <select  class = "custom-select" id="selState" onchange="getCounties(this.value)"></select>
                        </div>
                        <div class="col-md-3">
                            <select  class = "custom-select" id="selCounty" onchange="getBoth()"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <!-- my javascript -->
    <script type="text/javascript" src="static/js/sankeyapp.js"></script>

    <!-- needed for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>




