#map,
body,
html {
  height: 100%;
}

/* used in Welcome page */
.post p {
  max-width: 40rem;
  font-size: 125%;
}

/* used to style Welcome Choropleth SVG */
.counties :hover {
  stroke: black;
  stroke-width: 3px;
}

.county-borders {
  fill: none;
  stroke: white;
  stroke-width: 0.25px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.state-borders {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/* Below styles are used for d3 tooltips used in choropleths visualizations
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}